* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/* header style */
header ul {
  margin-bottom: 0px;
}
.mobilemneu{
  background-color: white;;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left:0;
  display: none;
}
.mobilemneu .iconbox{
  display: flex !important;
  background-color: var(--bluedark);
  color: white;
  max-width: 250px;
  border-radius: 45px;
  height: 75px;
  margin: 0px auto 20px auto;
}
.mobilemneu .iconbox:hover .icon.mx-1{
  background-color: white;
}
.mobilemneu .iconbox:hover .blackimg{
  display: block;
}
.mobilemneu .iconbox .icon.mx-1{
  background-color: white;
}
.mobilemneu .iconbox .icon_content p,.mobilemneu .iconbox .icon_content h6{
  color: white;
}
.mobilemneu ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  gap: 20px;
  margin-top: 20px !important;
}
.mobilemneu ul li,.mobilemneu ul li a{
font-family: Atkinson Hyperlegible;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
text-decoration: none;
color: var(--bluedark);
}
.mobilemneu ul li a:hover{
  text-decoration: underline;
}
.closebtn h6 {
  font-size: 36px;
  text-align: right;
  padding: 25px 20px 20px 20px;
  cursor: pointer;
}
header ul li a{
  color: var(--bluedark);
  font-family: "Atkinson Hyperlegible";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.8px;
  text-transform: capitalize;
  text-decoration: none;
}
header ul li a:hover{
  color:var(--yellowdark);
}
.icon_content h6 {
  color: var(--black);
  font-family: "Atkinson Hyperlegible";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}
.icon_content p {
  color: var(--black);
  font-family: "Atkinson Hyperlegible";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.icon.mx-1 {
  width: 48px;
  height: 48px;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: black;
}
.whiteimg {
  display: none;
}
.icon svg {
  fill: black;
}
.iconbox:hover .icon.mx-1 {
  background-color: var(--yellowdark);
}
.iconbox:hover .whiteimg {
  display: block;
}
.iconbox:hover .blackimg {
  display: none;
}
header button {
  width: 122px;
  height: 48px;
  border-radius: 24px;
  background-color: #ffc432;
  border: none;
  margin-left: 20px;
}
header button:hover {
  background-color: #eda900;
}
.mobilelogo {
  display: none;
}
.navigate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger {
  display: none;
  cursor: pointer;
}
/* hero styling */
.mbimg {
  display: none;
}
.hero {
  height: 660px;
  padding-top: 100px;
  background-image: url("./assets/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero h2 img {
  margin-top: -20px;
}
.absoluteimg {
  position: absolute;
  bottom: -100px;
  left: 0px;
}
.herocontent {
  width: 500px;
}
.formsect {
  margin-top: 40px;
}
.formsect select {
  width: 230px;
  height: 56px;
  border-radius: 43px;
  border: 1px solid var(--bluedark);
}
.formsect .btnforme {
  width: 200px;
  height: 56px;
  border-radius: 43px;
  background-color: var(--yellowdark);
  color: white;
  margin-left: 20px;
  border: none;
}
.hero .formsect .btnforme {
  background-color: var(--bluedark) !important;
}
.hero #email{
  width: 420px;
}
.formsect input[type="submit"] {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--bluedark);
  color: white;
  margin-left: 20px;
  border: none;
}

/* iconlist style */

.iconlist {
  padding: 80px 0px;
}
.iconlist img {
  margin-bottom: 20px;
}
.iconlist h3 {
  color: var(--yellowdark);
}

/* here to help styles */

.help {
  padding-bottom: 100px;
}

.help .col-7.contenthelp {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
}

/* steps styles */

.countfeatures {
  margin-top: 100px;
  background-image: url("./assets/Group\ 2318.png");
  background-position: bottom center;
  background-repeat: no-repeat;
}
.countfeatures .submitinfo {
  background-color: var(--lightblue);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.countfeatures .quickdecison {
  background-color: var(--interblue);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.countfeatures .funstoyou {
  background-color: var(--bluedark);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.countfeatures .submitinfo img,
.countfeatures .quickdecison img,
.countfeatures .funstoyou img {
  position: absolute;
  top: -35px;
  left: 0px;
}
.countfeatures .content {
  max-width: 75%;
  min-height: 150px;
}
.countfeatures .content h3 {
  color: white;
  width: 260px;
  margin-bottom: 30px;
}
.countfeatures .content p {
  width: 260px;
  color: white;
  text-align: left;
}
.contenttrusted {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* trusted source styles */

.trusted {
  padding: 50px 0px;
}
.trusted h2 {
  color: var(--yellowdark);
}

/* personal loan styles */
#mobilepersonal {
  display: none;
}
.personalloan {
  background-image: url("./assets/Group\ 2319.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.personalloan h2 {
  margin-top: 50px;
}
.personalloan p {
  padding-left: 20px;
  border-left: 8px solid #d9d9d9;
  max-width: 80%;
  margin-bottom: 30px;
}
.plcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btnwraps {
  max-width: 80%;
}
.btnwraps input[type="submit"] {
  background-color: #ffc432;
  color: var(--bluedark);
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
.form-select {
  padding-left: 1.75rem !important;
  background-position: right 1.75rem center !important;
}
.formsect select {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

/* footer styles */

footer ul {
  margin-bottom: 0px;
  border-bottom: 1px solid var(--bluedark);
}
footer ul li a {
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bluedark);
  list-style: none;
  text-decoration: none;
}
footer ul li a:hover{
  color: var(--yellowdark);
}
.ftextcontent {
  padding-top: 30px;
}
.ftextcontent h1 {
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bluedark);
  margin-bottom: 20px;
}
.ftextcontent h5 {
  font-weight: bold;
  font-size: 18px;
}
.ftextcontent p {
  font-size: 16px;
  margin-bottom: 30px;
}
.copyright {
  background-color: var(--bluedark);
  padding: 10px 0px;
}
.copyright h6 {
  color: white;
  margin-bottom: 0px;
}

/* media queries */
@media (max-width: 1000px) and (min-width: 600px) {
  .hero {
    background-image: url("./assets/Group\ 2320.png");
    background-size: 100%;
    height: 500px;
    padding-top: 80px;
  }
  .navigate {
    display: none !important;
  }
  .hamburger {
    display: block;
    margin-left: 25px;
  }
  .absoluteimg {
    bottom: -35%;
    left: -20%;
  }
  .countfeatures {
    margin-top: 0px;
  }
  .help {
    padding-bottom: 120px;
  }
  .countfeatures .content {
    max-width: 85%;
    min-height: 180px;
  }
  .countfeatures .content h3 {
    width: 90%;
  }
  .countfeatures .content p {
    width: 100%;
  }
  .row {
    margin: 0px 30px !important;
  }
  .pmaxis {
    margin: 0px 30px;
  }
  footer .row{
    margin: 0 !important;
  }
  footer ul li{
    font-size: 16px;
    margin-bottom: 0px !important;
  }

}

@media (max-width: 600px) {
  .herocontent {
    width: 100%;
  }
  .logoall {
    display: none;
  }
  .herocontent h2,
  .herocontent p {
    text-align: center;
  }
  .mobilelogo {
    display: block;
  }
  .formsect form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .mbimg {
    display: block;
  }
  .formsect input[type="submit"] {
    margin-left: 0px;
  }
  .hero {
    background-image: url("./assets/Group\ 2250.png");
    background-size: 100%;
    background-position: bottom;
    height: 780px;
    padding-top: 40px;
  }
  .navigate,
  .iconbox {
    display: none;
  }
  .hamburger {
    display: block;
    margin-left: 25px;
  }
  .absoluteimg {
    display: none;
  }
  .iconlist p {
    margin-bottom: 40px !important;
  }
  .contenthelp {
    margin-top: 20px !important;
  }
  .countfeatures {
    margin-top: 0px;
    padding: 0px 30px !important;
  }
  .trusted h2 {
    font-size: 32px !important;
  }
  .help {
    padding-bottom: 120px;
  }
  .countfeatures .content {
    max-width: 85%;
    min-height: 180px;
  }
  .countfeatures .content h3 {
    width: 90%;
  }
  .countfeatures .content p {
    width: 100%;
  }
  #countfeaturesworks{
    margin-top: 50px !important;
  }
  #countfeaturesworks .styleNameH1{
    font-size: 40px;
  }
  .trustedimg {
    display: none;
  }
  #mobilepersonal {
    display: block;
    background-image: none;
  }
  #desktoppersonal {
    display: none;
  }
  #mobilepersonal h4 {
    margin-top: 20px;
  }
  #mobilepersonal .btnwraps {
    background-color: var(--bluedark);
  }
  #mobilepersonal .formsect {
    margin: 40px 0px;
  }
  .row {
    padding: 0px 10px !important;
  }
  footer ul li {
    text-align: center;
    margin-bottom: 20px;
  }
  .pmaxis {
    margin: 0px 0px;
  }
  .copyright h6 {
    color: white;
    margin-bottom: 0px;
    max-width: 60%;
  }
  .bottomimg {
    display: none !important;
  }
  #showonmobile{
    display: block !important;
  }
  #hideonmobile{
    display: none !important;
  }
  .bulletspoints{
    margin-top: 50px !important;
  }
  #persolloadnworks{
    background-image: none;
  }
  #persolloadnworks .btnwraps {
    background-color: var(--bluedark);
    max-width: 100%;
  }
  #persolloadnworks .row .col-12, #persolloadnworks .row{
    padding: 0 !important;
  }
  #persolloadnworks .formsect form{
    flex-direction: column !important;
  }
  #persolloadnworks .formsect{
    margin-top: 0px !important;
    padding: 30px 0px;
  }
  .independenttext .styleNameH3{
    font-size: 24px;
  }
  #persolloadnworks .styleNameparagraph{
    padding: 0px 20px;
  }
  #countfeaturesworks{
    padding: 0 25px !important;
  }
}

/* how it works page styles */
#countfeaturesworks{
  margin-top: 0px;
  padding: 100px 0px 00px 0px;
  background-image: url('./assets/Vector\ \(11\).png');
  background-position: center;
  background-size: 100%;
}
#countfeaturesworks .submitinfo{
  background-color: var(--yellowlightest);
}
#countfeaturesworks .quickdecison{
  background-color: var(--yellowlighter);
}
#countfeaturesworks .funstoyou{
  background-color: var(--yellowlight);
}
#countfeaturesworks .contents {
  max-width: 75%;
  min-height: 150px;
}
#countfeaturesworks .hitworks h1{
  padding-left: 0px !important;
  margin-bottom: 55px;
}
.bottomimg img{
  width:555px;
  margin-left: auto;
  margin-top: -70px;
  z-index: 9999;
  margin-right: 10%;
}
.bottomimg {
  text-align: right;
}
.independenttext{
  margin: 80px 0px !important;
}
.bulletspoints ul{
  list-style: disc;
font-family: Atkinson Hyperlegible;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 20px;
}
.deskotoponly{
  display: block;
}
.nodesktop{
  display: none;
}
.iconlists .icons{
  width: 6%; 
}
.iconlists p{
  margin-bottom: 0px;
}
.iconlists p a{
  color: var(--yellowdark);
  text-decoration: none;
}
.iconlists img{
  width: 100%;
}
#workspersonal{
  position: relative;
}
#absolitework{
  position: absolute;
  right: 0px;
  bottom: -23%; 
}

#workspersonal .btnwraps {
  max-width: 90%;
}
@media(max-width:1000px){
  .deskotoponly{
    display: none;
  }
  .nodesktop{
    display: block;
  }
  #persolloadnworks .row{
    margin: 0  !important;

  }
  #persolloadnworks .formsect form{
    flex-direction: row;
  }
  #persolloadnworks .formsect {
    margin-top: 65px;
  }
  #absolitework{
    display: none;
  }
  .independenttext{
    margin: 50px 0 !important;
  }
}

/* privacy policy page styles */
.col-12.tableofcontent ol li a {
  font-family: Atkinson Hyperlegible;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--yellowdark);
  text-decoration: none;
}
ol {
  list-style: none;
  counter-reset: num;
  margin: 0px;
  padding: 0px !important;
}

ol li {
  counter-increment: num;
  padding-left: 45px;
  position: relative;
  
}

ol li::before {
  content: counter(num) ". ";
  font-family: Atkinson Hyperlegible;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: var(--bluedark);
  text-decoration: none;
  position: absolute;
  left: 0px;
  left: 0px;
  width: 30px;
  text-align: right;
}
.tableofcontent a{
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: var(--yellowdark);
}
.tableofcontent a:hover{
  opacity: 0.9;
  color: var(--yellowdark);
}
.tableofcontent ul li{
  list-style: disc;
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: var(--bluedark);
}
.persnalforpolicy{
  background-image: url('./assets/Group\ 2324.png') !important;
  
}
.persnalforpolicy .plcontent  h4{
  opacity: 0;;
}
.bgimagsect{
  background-image: url('./assets/Vector\ \(13\).png');
  background-repeat: no-repeat;
  background-position: 85% 100%;
  min-height: 268px;
  position: relative;
}
.formsectionfo{
  background-color: var(--bluedark);
  padding: 0px !important;
  margin: 0 !important;
  height:170px;
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#arrowheadingfooter{
  position: absolute;
  bottom: -75%;
  right: 0px;;
}
.maincontainer{
  padding: 0px !important;
  margin: 0 !important;
}
.formsectionfo .formcol{
 margin-left: auto;
}
.formsectionfo .formsect {
  margin-top: 0px;
}
.bfooterimg{
  position: absolute;
  bottom: -170px;
  z-index: 99;
}
.bfootermobile{
  display: none;;
}
@media(max-width:1000px) and (min-width:600px){
  #arrowheadingfooter{
    display: none;
  }
  .bgimagsect{
    background-image: url('./assets/Vector (14).png');
    background-repeat: no-repeat;
    background-position: 15% 100%;
    min-height: 268px;
    position: relative;
  }
  .btnwraps{
    margin-left: auto;
  }
  .bfooterimg{
    width: 30%;
  }
}
@media(max-width:600px){
  .bfootermobile{
    display: block;;
  }
  .bfooterimg{
    display:  none;
  }
  .bgimagsect{
    background-image: none;
  }
  #beforefootersect .container-fluid ,#beforefootersect .col-12,#beforefootersect .row{
    padding: 0px;
  }
  .btnwraps{
    max-width: 100%;
  }
}
.termandcondition p{
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bluedark);
}
.termandcondition a{
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--yellowdark);
}

/* step form css */
.secondstep{
  display: none;
}
#email{
  display: none;
  width: 484px;
height: 56px;
border-radius: 43px;
border: 1px solid var(--bluedark);
outline: none;
padding-left: 30px;

}
#submitbtn{
  display: none;
}