* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/* header style */
header ul {
  margin-bottom: 0px;
}
.responsivemenu{
  display: none;
}
header ul li {
  color: var(--bluedark);
  font-family: "Atkinson Hyperlegible";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.8px;
  text-transform: capitalize;
}
.icon_content h6 {
  color: var(--black);
  font-family: "Atkinson Hyperlegible";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}
.icon_content p {
  color: var(--black);
  font-family: "Atkinson Hyperlegible";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.icon.mx-1 {
  width: 48px;
  height: 48px;
  border: 1px solid #CFCFCF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: black;
}
.whiteimg{
  display: none;
}
.icon svg{
  fill: black;
}
.iconbox:hover .icon.mx-1{
background-color: var(--yellowdark);
}
.iconbox:hover .whiteimg{
  display: block;
}
.iconbox:hover .blackimg{
  display: none;
}
header button {
  width: 122px;
  height: 48px;
  border-radius: 24px;
  background-color: #ffc432;
  border: none;
  margin-left: 20px;
}
header button:hover{
  background-color: #EDA900;
}
.navigate{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger{
  display: none;
}
/* hero styling */

.hero {
  height: 660px;
  padding-top: 100px;
  background-image: url("./assets/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero h2 img{
  margin-top: -20px;
}
.absoluteimg {
  position: absolute;
  bottom: -100px;
  left: 0px;
}
.herocontent {
  width: 500px;
}
.formsect {
  margin-top: 40px;
}
.formsect select {
  width: 200px;
  height: 56px;
  border-radius: 43px;
  border: 1px solid var(--bluedark);
}
.formsect input[type="submit"] {
  width: 200px;
  height: 56px;
  border-radius: 43px;
  background-color: var(--bluedark);
  color: white;
  margin-left: 20px;
  border: none;
}

/* iconlist style */

.iconlist {
  padding: 80px 0px;
}
.iconlist img {
  margin-bottom: 20px;
}
.iconlist h3 {
  color: var(--yellowdark);
}

/* here to help styles */

.help {
  padding-bottom: 100px;
}

.help .col-7.contenthelp {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
}

/* steps styles */

.countfeatures {
  margin-top: 100px;
  background-image: url("./assets/Group\ 2318.png");
  background-position: bottom center;
  background-repeat: no-repeat;
}
.countfeatures .submitinfo {
  background-color: var(--lightblue);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.countfeatures .quickdecison {
  background-color: var(--interblue);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.countfeatures .funstoyou {
  background-color: var(--bluedark);
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.countfeatures .submitinfo img,
.countfeatures .quickdecison img,
.countfeatures .funstoyou img {
  position: absolute;
  top: -35px;
  left: 0px;
}
.countfeatures .content {
  max-width: 75%;
  min-height: 150px;
}
.countfeatures .content h3 {
  color: white;
  width: 260px;
  margin-bottom: 30px;
}
.countfeatures .content p {
  width: 260px;
  color: white;
  text-align: left;
}
.contenttrusted {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* trusted source styles */

.trusted {
  padding: 50px 0px;
}
.trusted h2 {
  color: var(--yellowdark);
}

/* personal loan styles */

.personalloan {
  background-image: url("./assets/Group\ 2319.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.personalloan h2 {
  margin-top: 50px;
}
.personalloan p {
  padding-left: 20px;
  border-left: 8px solid #d9d9d9;
  max-width: 80%;
  margin-bottom: 30px;
}
.plcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btnwraps {
  max-width: 80%;
}
.btnwraps input[type="submit"] {
  background-color: #ffc432;
  color: var(--bluedark);
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
.form-select {
  padding-left: 1.75rem !important;
  background-position: right 1.75rem center !important;
}
.formsect select {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

/* footer styles */

footer ul {
  margin-bottom: 0px;
  border-bottom: 1px solid var(--bluedark);
}
footer ul li {
  font-family: Atkinson Hyperlegible;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bluedark);
  list-style: none;
}
.ftextcontent {
  padding-top: 30px;
}
.ftextcontent h1 {
  font-family: Atkinson Hyperlegible;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bluedark);
  margin-bottom: 20px;
}
.ftextcontent h5 {
  font-weight: bold;
  font-size: 18px;
}
.ftextcontent p {
  font-size: 16px;
  margin-bottom: 30px;
}
.copyright {
  background-color: var(--bluedark);
  padding: 10px 0px;
}
.copyright h6 {
  color: white;
  margin-bottom: 0px;
}

/* media queries */
@media(max-width:1000px) and (min-width:768px){
  .hero {
    background-image: url('./assets/Group\ 2320.png');
    background-size: 100%;
    height: 500px;
    padding-top: 80px;
  }
  .navigate{
    display: none !important;
  }
  .hamburger{
    display: block;
    margin-left: 25px;
  }
  .absoluteimg {
    bottom: -35%;
    left: -20%;
}
.countfeatures{
  margin-top: 0px;
}
.help{
  padding-bottom: 120px;
}
.countfeatures .content{
  max-width: 85%;
  min-height: 180px;
}
.countfeatures .content h3{
  width: 90%;
}
.countfeatures .content p{
  width: 100%;
}
.row{
  margin: 0px 30px !important;
}
.pmaxis{
  margin: 0px 30px;
}

}

@media(max-width:768px){

  .hero {
    background-image: url('./assets/Group\ 2320.png');
    background-size: 100%;
    height: 500px;
    padding-top: 80px;
  }
  .navigate,.iconbox{
    display: none !important;
  }
  .hamburger{
    display: block;
    margin-left: 25px;
  }
  .absoluteimg {
    bottom: -35%;
    left: -20%;
}
.countfeatures{
  margin-top: 0px;
}
.help{
  padding-bottom: 120px;
}
.countfeatures .content{
  max-width: 85%;
  min-height: 180px;
}
.countfeatures .content h3{
  width: 90%;
}
.countfeatures .content p{
  width: 100%;
}
.row{
  margin: 0px 10px !important;
}
.pmaxis{
  margin: 0px 30px;
}


}