@font-face {
    font-family: Atkinson Hyperlegible;
    src: url(./assets/fonts/AtkinsonHyperlegible-Regular.ttf);
  }
  @font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
  }
  :root {
    --bluedark: #243553;
    --yellowdark: #eda900;
    --lightblue: #62728d;
    --interblue: #3a4c6c;
    --black: #000000;
  }
.styleNameh2{
    font-family: Atkinson Hyperlegible;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bluedark);
}
.styleNameH5{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bluedark);
}
.styleNameH4{
font-family: Atkinson Hyperlegible;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: var(--bluedark);
}
.styleNameH3{
    font-family: Atkinson Hyperlegible;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bluedark);
}

.styleNameparagraph{
    font-family: Atkinson Hyperlegible;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bluedark);
}

.styleNameH1{
font-family: Atkinson Hyperlegible;
font-size: 65px;
font-weight: 700;
line-height: 81px;
letter-spacing: 0em;
text-align: left;
color: var(--bluedark);
}

@media(max-width:850px){
    .styleNameh2{
        font-size: 30px;
    }
    .styleNameH5{
        font-size: 20px;
    }
    .styleNameH4{
    font-size: 20px;
    }
    .styleNameH3{
        font-size: 24px;
    }
    
    .styleNameparagraph{
        font-size: 18px;
    }
    
    .styleNameH1{
    font-size:45px;
    } 
}